h2, h5 {
	color: white; 
	font-weight: bold;
}

a:hover, a:active {
	color: black;
  background-color: yellow;
}

#product_tile {
	margin: 5px 5px; 
	width: 180px;
}


#body {
	
	background: yellow; 
	padding: 10px 10px;
	margin: 0px;
}

#bestseller {
	background: #c0ca33;
}

#topbar{
	color: white;
	font-weight: bold;
	margin: 0 0; 
	background: #ef6c00;
}

#sidebar {
	margin: 0px;
	font-size: medium;
	color: #3959C3;
	background: #fff9c4;
}

#menu {
	margin: 0px; 
	background: #f4ff81;
}

#content_i {
	background: #004445;
}

#fullcolor {
	
	background: #f4ff81;
}

.reviewer{
    font-size: medium;
    color: brown;
    background-color: #dffffd;
}
.reviewRate{
    font-size: medium;
    color: #0067ab;
    background-color:cornsilk;
}
.bs-example  div[class^="col"] {
    border: 1px solid white;
    background: #ffe8c6;
    text-align: center;
    color: #262951;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-outside: 10px;
}

.card {
	margin: 5px 5px; 
	width: 180px;
	float:left;
	padding: 10px;
	text-align: center;
	}
.card:hover {
	box-shadow: 0 0 0 3px #FAFAFA;
	cursor:pointer;
	}
.product_wrapper .name {
	font-weight:bold;
	}
.product_wrapper .buy {
	text-transform: uppercase;
    background: #F68B1E;
    border: 1px solid #F68B1E;
    cursor: pointer;
    color: #fff;
    padding: 8px 40px;
    margin-top: 10px;
}
.product_wrapper .buy:hover {
	background: #f17e0a;
    border-color: #f17e0a;
}
.message_box .box{
	margin: 10px 0px;
    border: 1px solid #2b772e;
    text-align: center;
    font-weight: bold;
    color: #2b772e;
	}
.table td {
	border-bottom: #F0F0F0 1px solid;
	padding: 10px;
	}
.cart_div {
	float:right;
	font-weight:bold;
	position:relative;
	}
.cart_div a {
	color:#000;
	}	
.cart_div span {
	font-size: 12px;
    line-height: 14px;
    background: #F68B1E;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 13px;
    color: #fff;
    width: 14px;
    height: 13px;
    text-align: center;
	}
.cart .remove {
    background: none;
    border: none;
    color: #0067ab;
    cursor: pointer;
    padding: 0px;
	}
.cart .remove:hover {
	text-decoration:underline;
	}
